// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.format-notice{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #5e6163;
  font-weight: 700;
  text-align: left;
  margin: 1rem 0 0 1rem;
}
.group-user-page{
  background-image: linear-gradient(#13345f, #3474a3);
  text-align: center;
  padding: 5rem 5rem 35rem 5rem;
  height: 100vh;
  h1{
    color: #abb8cb;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10rem;
    font-weight: 500;
  }
  .group-div{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    color: #abb8cb;
    a{
      color: #abb8cb;
      display: block;
      text-decoration: none;
      .group-icon{
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
      }
    }
    .name-date{
      margin-left: 5rem;
      .group-created{
        font-size: 3rem;
      }
    }
  }
}
.group-add-new{
  background-color: #60b523;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  a{
    border: 0.3rem solid #bae1a8;
    font-size: 5rem;
    color: #dff3da;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 4rem 0;
    font-weight: 500;
    margin: 3rem;
  }
}

.food-author{
  color: #959598;
  font-size: 3rem;
  margin: 0;
}