// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.format-notice{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #5e6163;
  font-weight: 700;
  text-align: left;
  margin: 1rem 0 0 1rem;
}