.logo{
  text-align: center;
  padding: 18rem 0;
  h1{
    font-size: 3rem;
    color: #353c47;
    font-family: 'Playball', cursive;
    letter-spacing: 0.5rem;
  }
}

.login{
  position: relative;
  bottom: 0;
  margin: 0 1rem;
  a{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    max-width: 425px;
    margin: 0 auto;
  }
  .sign-in{
    color: #fcf6f0;
    background-color: #3878c2;
  }
  .sign-up{
    color: #8a8d8f;
  }
}

.form-div{
  border: 0.1rem solid #c0c0c5;
  max-width: 425px;
  margin: 0 auto;
  .signup-form{
    background-color: #fff;
    color: #dbdcde;
    text-align: center;
    padding: 2rem;
    .form-option{
      font-size: 2rem;
      padding: 1rem 0 1rem 0.5rem;
      width: 100%;
      border-top: 0.01rem solid #dbdcde;
      border-bottom: 0.01rem solid #dbdcde;
      border-left: none;
      border-right: none;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
    }
    .select-option{
      display: block;
      font-size: 2rem;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      color: #444;
      padding: .3em 1em .2em 1rem;
      width: 100%;
      max-width: 425px;
      margin-top: 2rem;
      border: 0.1rem solid #c0c0c5;
      box-shadow: 0 0.1rem 0 0.1rem rgba(0,0,0,.04);
      border-radius: 1rem;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: right 2rem top 50%, 0 0;
      background-size: .65em auto, 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .submit{
      font-size: 1.5rem;
      position: absolute;
      top: 1.1rem;
      right: 1rem;
      background-color: #326db1;
      border: none;
      color: #fff;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      cursor: pointer;
    }
  }
}

.back-arrow{
  transform: rotate(90deg);
  width: 2.5rem;
  position: absolute;
  top: 0.9rem;
  left: 1rem;
}

.header{
  text-align: center;
  background-color: #326db1;
  margin-bottom: 2rem;
  h1{
    color: #fff;
    font-size: 1.8rem;
    margin: 0;
    padding: 1rem 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    cursor: default;
  }
}
