html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background-color: #f1f3f2;
  margin: 0;
  height: 100%;
}

.errors{
  color: #ff0000;
  font-size: 1.5rem;
  text-align: left;
  margin: 0 0 1rem 0;
}
